# /etc/systemd/system/control.service
[Unit]
Description=Skymonitor Control Service
After=network.target

[Service]
Type=simple
User=robert
WorkingDirectory=/home/robert/WeatherMonitor/safety-monitor
ExecStart=/home/robert/WeatherMonitor/venv/bin/python /home/robert/WeatherMonitor/safety-monitor/control.py
Restart=always
RestartSec=5
KillMode=process
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target