<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <title>Sky Monitor</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
        <style>
            body { background-color: #000000; color: #FFFFFF; font-family: Arial, sans-serif; }
            table { border-collapse: collapse; color: #FFFFFF; min-width: 400px}
            td, th { border: 1px solid #FFFFFF; padding: 5px; text-align: left; }
            th { background-color: #333333; }
            a, a:visited { color: #1E90FF; text-decoration: none; }
            a:hover { text-decoration: underline; }
            .alert { background-color: #FF0000; color: #FFFFFF; padding: 10px; }
        </style>
    </head>
    <body>
    <h1>last Weather Indicators</h1>
    <table>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Rain</th>
                <th>Light</th>
                <th>Sky Temperature</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>SQM-IR</th>
                <th>SQM-Full</th>
                <th>SQM-Visible</th>
                <th>SQM-Lux</th>
                <th>Cloud Coverage</th>
                <th>Cloud Coverage Indicator</th>
                <th>Brightness</th>
                <th>Bortle</th>
            </tr>
        </thead>
        <tbody>
            {% for current_data in last_data %}
            <tr>
                <td>{{ current_data[0] if current_data[0] is not none else 'N/A' }}</td> <!-- Timestamp -->
                <td>{{ current_data[1] if current_data[1] is not none else 'N/A' }}</td> <!-- Rain -->
                <td>{{ current_data[2] if current_data[2] is not none else 'N/A' }}</td> <!-- Light -->
                <td>{{ current_data[3] if current_data[3] is not none else 'N/A' }}</td> <!-- Sky Temperature -->
                <td>{{ current_data[4] if current_data[4] is not none else 'N/A' }}</td> <!-- Temperature -->
                <td>{{ current_data[5] if current_data[5] is not none else 'N/A' }}</td> <!-- Humidity -->
                <td>{{ current_data[6]|format_float if current_data[6] is not none else 'N/A' }}</td> <!-- SQM-IR -->
                <td>{{ current_data[7]|format_float if current_data[7] is not none else 'N/A' }}</td> <!-- SQM-Full -->
                <td>{{ current_data[8]|format_float if current_data[8] is not none else 'N/A' }}</td> <!-- SQM-Visible -->
                <td>{{ current_data[9] if current_data[9] is not none else 'N/A' }}</td> <!-- SQM-Lux -->
                <td>{{ current_data[10] if current_data[10] is not none else 'N/A' }}</td> <!-- Cloud Coverage -->
                <td>{{ current_data[-3]|format_float if current_data[-3] is not none else 'N/A' }}</td> <!-- Cloud Coverage Indicator -->
                <td>{{ current_data[-2]|format_float if current_data[-2] is not none else 'N/A' }}</td> <!-- Brightness -->
                <td>{{ current_data[-1]|format_float if current_data[-1] is not none else 'N/A' }}</td> <!-- Bortle -->
            </tr>
            {% endfor %}
        </tbody>
            </table>
    <h1>Observations</h1>
    <a href="/observations">View All Observations</a><br/><br/>
    <form action="/submit_observation" method="post">
        <label for="cloud_condition">Cloud Condition:</label>
        <select name="cloud_condition">
            <option value="clear">Clear</option>
            <option value="partially_clouded">Partially Clouded</option>
            <option value="fully_clouded">Fully Clouded</option>
        </select>
    
        <label for="rain_condition">Rain:</label>
        <select name="rain_condition">
            <option value="no">No</option>
            <option value="light">Light</option>
            <option value="heavy">Heavy</option>
        </select>
    
        <label for="moon_visibility">Moon Visibility:</label>
        <select name="moon_visibility">
            <option value="not_visible">Not Visible</option>
            <option value="low">Low</option>
            <option value="high">High</option>
        </select>
    
        <input type="submit" value="Submit Observation">
    </form>
    {% if message %}
        <div class="alert">
            {{ message }}
        </div>
    {% endif %}
    <h1>Charts</h1>
    <form method="get" action="/">
        <input type="checkbox" name="show_all" id="show_all" {{ 'checked' if show_all }}>
        <label for="show_all">Show All Data</label>
        <input type="submit" value="Apply Filter">
    </form>
    <h2>Cloud Coverage Indicator</h2>
    <canvas id="cloudCoverageIndicatorChart"></canvas>
    <h2>Sky Brightness</h2>
    <canvas id="brightnessChart"></canvas>
    
    <script>
        var darkThemeOptions = {
            scales: {
                x: {
                    grid: { color: '#666666' },
                    ticks: { color: '#FFFFFF' }
                },
                y: {
                    grid: { color: '#666666' },
                    ticks: { color: '#FFFFFF' }
                }
            },
            plugins: {
                legend: {
                    labels: { color: '#FFFFFF' }
                }
            }
        };
    
        var ctx1 = document.getElementById('cloudCoverageIndicatorChart').getContext('2d');
        var cloudCoverageIndicatorChart = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: {{ timestamps|tojson }},
                datasets: [{
                    label: 'Cloud Coverage Indicator',
                    data: {{ cloud_coverage_indicators|tojson }},
                    borderColor: 'lightblue',
                    fill: false
                }]
            },
            options: darkThemeOptions
        });
    
        var ctx2 = document.getElementById('brightnessChart').getContext('2d');
        var brightnessChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: {{ timestamps|tojson }},
                datasets: [{
                    label: 'Brightness',
                    data: {{ brightnesses|tojson }},
                    borderColor: 'red',
                    fill: false
                }]
            },
            options: darkThemeOptions
        });
    </script>
</body>
</html>
