<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <style>
        body { background-color: #000000; color: #FFFFFF; font-family: Arial, sans-serif; }
        table { border-collapse: collapse; color: #FFFFFF; width: 100%;}
        td, th { border: 1px solid #FFFFFF; padding: 8px; text-align: left; }
        th { background-color: #333333; }
        a, a:visited { color: #1E90FF; text-decoration: none; }
        a:hover { text-decoration: underline; }
        .alert { background-color: #FF0000; color: #FFFFFF; padding: 10px; }
    </style>
</head>
<body>
    <div id="app"> <!-- Ensure Vue controls this part of the DOM -->
        <h1>Data Dashboard</h1>
        <h2>Control Panel</h1>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        
            {% if alert_active %}
                <p>Alert is currently: Enabled</p>
                <form action="{{ url_for('disable_alert') }}" method="post">
                    <button type="submit" style="background-color: #d32f2f; color: white; border: none; padding: 10px 20px; cursor: pointer;">Disable Alert</button>
                </form>
            {% else %}
                <p>Alert is currently: Disabled</p>
                <form action="{{ url_for('enable_alert') }}" method="post">
                    <button type="submit" style="background-color: #388e3c; color: white; border: none; padding: 10px 20px; cursor: pointer;">Enable Alert</button>
                </form>
            {% endif %}
        </div>
        <div>
            <h2>Links</h1>
                <ul>
                <li><a href="http://allsky.local/allsky/index.php">Sky Monitor Camera</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/dashboard">System Monitor Dashboard</a></li>
            </ul>
            <h2>Data</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Dew Point</th>
                    <th>Heat Index</th>
                    <th>Fan Status</th>
                    <th>Heater Status</th>
                    <th>CPU Temperature</th>
                    <th>Raining</th>
                    <th>Light</th>
                    <th>Sky Temperature</th>
                    <th>Ambient Temperature</th>
                    <th>SQM IR</th>
                    <th>SQM Full</th>
                    <th>SQM Visible</th>
                    <th>SQM Lux</th>
                    <th>Cloud Coverage</th>
                    <th>Cloud Coverage Indicator</th>
                    <th>Brightness</th>
                    <th>Bortle</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in rows">
                    <td>[[ row.timestamp ]]</td>
                    <td>[[ row.temperature ]] °C</td>
                    <td>[[ row.humidity ]] %</td>
                    <td>[[ row.dew_point ]] °C</td>
                    <td>[[ row.heat_index ]] °C</td>
                    <td>[[ row.fan_status ]]</td>
                    <td>[[ row.heater_status ]]</td>
                    <td>[[ row.cpu_temperature ]] °C</td>
                    <td>[[ row.raining ]]</td>
                    <td>[[ row.light ]]</td>
                    <td>[[ row.sky_temperature ]] °C</td>
                    <td>[[ row.ambient_temperature ]] °C</td>
                    <td>[[ row.sqm_ir ]]</td>
                    <td>[[ row.sqm_full ]]</td>
                    <td>[[ row.sqm_visible ]]</td>
                    <td>[[ row.sqm_lux ]]</td>
                    <td>[[ row.cloud_coverage ]]%</td>
                    <td>[[ row.cloud_coverage_indicator ]]</td>
                    <td>[[ row.brightness ]]</td>
                    <td>[[ row.bortle ]]</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'], // Custom delimiters for Vue
            data: {
                rows: {{ data|tojson|safe }}
            }
        });
    </script>
</body>
</html>
