<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #343a40; /* Dark background */
            color: #ffffff; /* White text color */
        }
        .container {
            padding-top: 20px;
        }
        label {
            float: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-3">Update Settings</h1>
        <form action="{{ url_for('settings_page') }}" method="post">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="ambient_temp_threshold" class="form-label">Ambient Temperature Threshold:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" name="ambient_temp_threshold" value="{{ settings['ambient_temp_threshold'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="dewpoint_threshold" class="form-label">Dewpoint Threshold:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" name="dewpoint_threshold" value="{{ settings['dewpoint_threshold'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="cpu_temp_threshold" class="form-label">CPU Temperature Threshold:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" name="cpu_temp_threshold" value="{{ settings['cpu_temp_threshold'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="memory_usage_threshold" class="form-label">Memory Usage Threshold (%):</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" name="memory_usage_threshold" value="{{ settings['memory_usage_threshold'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="interval_time" class="form-label">Interval Time (seconds):</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="interval_time" value="{{ settings['interval_time'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="sleep_time" class="form-label">Sleep Time (seconds):</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" name="sleep_time" value="{{ settings['sleep_time'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="temp_hum_url" class="form-label">Temperature & Humidity URL:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="temp_hum_url" value="{{ settings['temp_hum_url'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="serial_port" class="form-label">Serial Port:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="serial_port" value="{{ settings['serial_port'] }}" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="baud_rate" class="form-label">Baud Rate:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" name="baud_rate" value="{{ settings['baud_rate'] }}" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-light">Update Settings</button>
        </form>
    </div>
</body>
</html>
